<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VeriStocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C93FC4EA1F3A189F004232CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93FC4FE1F3A189F004232CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93FC5091F3A189F004232CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
